# Ignore local virtual environments
venv/
.venv/
env/

# Ignore compiled python code
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local database and log folders
data/
logs/
volumes/
*.db

# Ignore Git files and local settings
.git/
.gitignore
.dockerignore
.env
.env.local
.env.*.local
